---
apiVersion: helm.crossplane.io/v1beta1
kind: ProviderConfig
metadata:
  name: ${GITHUB_SHA}-${GITHUB_REF_NAME}-auto-k8s-helm-provider-config
spec:
  credentials:
    source: Secret
    secretRef:
      name: ${GITHUB_SHA}-${GITHUB_REF_NAME}-auto-kube
      namespace: default
      key: kubeconfig
  identity:
    type: GoogleApplicationCredentials
    source: Secret
    secretRef:
      name: gcp-creds
      namespace: crossplane-system
      key: creds